{% load static %}

<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;">
<head>
    <title>Essay Manage</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="author" content="http://www.jeeplus.org/"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <script>var d = "";</script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {% include 'base.html' %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });


            $("#save").click(function () {
                jp.confirm("自由练习，非正式提交，只有机器打分,确认是否提交？", function (data) {
                    jp.loading();
                    jp.post("/srv/stu/task/save/", $('#inputForm').serialize(), function (data) {
                        console.log("data", data);
                        if (data.success) {
                            jp.success(data.msg);
                            jp.openTab('/srv/essay/task/list/', "查看写作任务", false);
                        } else {
                            jp.error(data.msg);
                        }
                    });
                });
            });

            $("#formal_save").click(function () {
                jp.confirm("确认是否提交，正式提交后无法再进行修改？", function (data) {
                    jp.loading();
                    jp.post("/srv/stu/task/formal_save/", $('#inputForm').serialize(), function (data) {
                        console.log("data", data);
                        if (data.success) {
                            jp.success(data.msg);
                        } else {
                            jp.error(data.msg);
                        }
                    });
                });

            });
        });

    </script>
    <meta name="decorator" content="ani"/>
</head>
<body id="" class="bg-white" style="">
<form id="inputForm" class="form-horizontal  J_menuItem" action="/srv/stu/task/{{ method }}/" method="post">
    {% csrf_token %}
    <input id="wt_id" name="wt_id" type="hidden" value="{{ wt_obj.id|default_if_none:'' }}"/>
    <table class="table table-bordered">
        <tbody>
        <tr><!-- <font color="red">*</font> -->
            <td class="active"><label class="pull-right">标题:</label></td>
            <td><input id="title" name="title" class="form-control required" type="text" readonly
                       value="{{ wt_obj.title|default_if_none:'' }}" maxlength="50"/></td>
            <td class="active"><label class="pull-right">类型:</label></td>
            <td><input id="writing_theme" name="writing_theme" type="hidden"
                       value="{{ cur_es.id }}">
                <input id="type_name" name="type_name" class="form-control required " type="text" readonly
                       value="{{ cur_es.type_name|default_if_none:'' }}" maxlength="50"/></td>
            <td class="active"><label class="pull-right">截至时间:</label></td>
            <td><input id="mobile" name="mobile" class="form-control" type="text" readonly
                       value="{{ wt_obj.deadline_time|default_if_none:'' }}" maxlength="100"/></td>
        </tr>

        <tr>
            <td class="active"><label class="pull-right">写作要求:</label></td>
            <td colspan="5"> <textarea id="remarks" name="remarks" maxlength="200" style="height: 200px;"
                                       class="form-control" readonly
                                       rows="3">{{ wt_obj.requirement|default_if_none:'' }}
		         </textarea></td>
        </tr>

        <tr>
            <td><label class="pull-right"><font color="red">*</font>开始写作:</label></td>
            <td colspan="5">
                {% if not flag == 0 %}
                    <textarea id="content" name="content" style="height: 500px;"
                              class="form-control" disabled>{{ record.content|default_if_none:'' }}</textarea>
                {% else %}
                    <textarea id="content" name="content" style="height: 500px;"
                              class="form-control"></textarea>
                {% endif %}


            </td>
        </tr>

        </tbody>
    </table>

    <div class="form-group">
        <div class="text-center">
            {% if not flag == 0 %}
                <button id="save" type="button" class="btn btn-primary" disabled>自由练习提交</button>
                <button class="btn btn-primary" id="formal_save" type="button" disabled>已提交</button>
                <a href="https://xiezuocat.com/">作文纠错</a>
            {% else %}
                <button id="save" type="button" class="btn btn-primary">自由练习提交</button>
                <button class="btn btn-primary" id="formal_save" type="button">正式提交</button>
                <a href="https://xiezuocat.com/">作文纠错</a>
            {% endif %}
        </div>
    </div>

</form>
</body>
</html>