body{
  margin: 0;
  padding: 0;
  min-width: 1024px;
  height: 100%;
}
body ul{
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
thead{
  background: rgb(100,149,237);
}
body ul li{
  padding: 8px;
  float: left;
  width: 25%;
  height:40px;
  /* border: solid 1px; */
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(	245,245,245,.5);
}
.block{
  width: 100%;
  min-width: 1024px;
  height:100%;
  min-height: 760px;
  background: rgba(	245,245,245,.5);
  float: left;
}
.list{
  width: 20%;
  height:100%;
  max-height: 760px;
  float: left;
  background-color: white;
  min-height: 760px;
  padding-top: 10px;
  overflow-y:scroll;
}
.main{
  width: 78%;
  height:100%;
  float: left;
  background-color: white;
  min-height: 700px;
  margin-top: 10px;
  margin-left: 1%;
}
.parmain{
  width: 100%;
  height:100%;
  float: left;
  background-color: white;
  min-height: 700px;
  margin-top: 10px;
  margin-left: 1%;
}
div ul{
  list-style: none;
  width:100%;
}

div ul li{
  list-style: none;
  width:90%;
  margin-left: 5%;
  margin-top: 5px;
  padding-top: 10px;
}
.inner{
  width: 90%;
  margin-left: 5%;
  height: 325px;
  min-height:300px;
  margin-top: 10px;
  background: rgba(	245,245,245,.5);
  overflow-y: scroll;
}
.foot{
  width: 78%;
  height:100%;
  float: left;
  background-color: white;
  min-height: 35px;
  margin-top: 10px;
  margin-left: 1%;
}
table thead tr th{
  text-align: center;
  background: rgb(	100,149,237);
}
table tbody tr td{
  text-align: center;
}
.inner2{
  width: 90%;
  margin-left: 5%;
  height: 600px;
  min-height:300px;
  margin-top: 10px;
  overflow-y:scroll;
  background: rgba(	245,245,245,.5)
}
.foot2{
  width: 90%;
  margin-left: 5%;
  height: 50px;
  min-height:50px;
  margin-top: 10px;
  background: rgba(	245,245,245,.5)
}
.down{
  float: left;
  margin-left: 5%;
  margin-top: 15px;
}
.down input{
  font-size: 12px;
  margin-top: -2px;
}

.down2{
  float: left;
  margin-left: 5%;
  margin-top: 6px;
}

.down2 input{
  font-size: 12px;
}
