{% load static %}
<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;">
<head>
    <title>Manage</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="author" content="http://www.jeeplus.org/"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store">
    <script>var d = "";</script>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {% include 'base.html' %}
    <meta name="decorator" content="ani"/>

    <script type="text/javascript">
        $(document).ready(function () {

            var token = $('input[name=csrfmiddlewaretoken]').val();
            //表格初始化
            $('#table').bootstrapTable({
                //请求方法
                method: 'post',
                //类型json
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                //是否显示行间隔色
                striped: true,
                //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                cache: false,
                //显示检索按钮
                showSearch: true,
                //显示刷新按钮
                showRefresh: true,
                //显示切换手机试图按钮
                showToggle: true,
                //显示 内容列下拉框
                showColumns: true,
                //显示切换分页按钮
                showPaginationSwitch: true,
                //是否显示分页（*）
                pagination: true,
                //排序方式
                sortOrder: "asc",
                //初始化加载第一页，默认第一页
                pageNumber: 1,
                //每页的记录行数（*）
                pageSize: 10,
                //可供选择的每页的行数（*）
                pageList: [10, 25, 50, 100],
                //这个接口需要处理bootstrap table传递的固定参数,并返回特定格式的json数据
                url: "/srv/essay/task/list/",
                //默认值为 'limit',传给服务端的参数为：limit, offset, search, sort, order Else
                //queryParamsType:'',
                ////查询参数,每次调用是会带上这个参数，可自定义
                queryParams: function (params) {
                    var searchParam = $("#searchForm").serializeJSON();
                    //alert(searchParam.pageNo)
                    searchParam.pageNo = params.limit === undefined ? "1" : params.offset / params.limit + 1;
                    searchParam.pageSize = params.limit === undefined ? -1 : params.limit;
                    searchParam.orderBy = params.sort === undefined ? "" : params.sort + " " + params.order;
                    csrfmiddlewaretoken = token;
                    return searchParam;
                },
                data: {csrfmiddlewaretoken: token},
                onShowSearch: function () {
                    $("#search-collapse").slideToggle();
                },
                //分页方式：client客户端分页，server服务端分页（*）
                sidePagination: "server",
                contextMenuTrigger: "right",//pc端 按右键弹出菜单
                contextMenuTriggerMobile: "press",//手机端 弹出菜单，click：单击， press：长按。
                contextMenu: '#context-menu',
                onContextMenuItem: function (row, $el) {
                    if ($el.data("item") == "edit") {
                        edit(row.id);
                    } else if ($el.data("item") == "delete") {
                        deleteAll(row.id);
                    }
                },

                onClickRow: function (row, $el) {
                },
                columns: [
                    {
                        checkbox: true

                    },
                    {
                        field: 'title',
                        title: '文章标题',
                        sortable: true

                    },
                    {
                        field: 'wt_name',
                        title: '文章类型',
                        sortable: true

                    },

                    {
                        field: 'requirement',
                        title: '文章要求'

                    },
                    {
                        field: 'deadline_time',
                        title: '截至时间',
                        sortable: true

                    },
                    {
                        field: 'operate',
                        title: '查看详情',
                        align: 'center',
                        events: {
                            'click .view': function (e, value, row, index) {
                                jp.openViewDialog('查看', '/srv/stu/task/view/?id=' + row.id, '1200px', '800px');
                                //alert(row.id);

                            },
                            'click .task': function (e, value, row, index) {
                                jp.openTab('/srv/stu/task/edit/?id=' + row.id, "开始写作", true);
                            },
                            'click .edit': function (e, value, row, index) {
                                jp.openSaveDialog('写作任务', '/srv/stu/task/edit/?id=' + row.id, '1600px', '1200px');
                            },
                            'click .del': function (e, value, row, index) {
                                del(row.id);
                            },
                            'click .stu_detail': function (e, value, row, index) {

                                $("#left").attr("class", "col-sm-6");
                                setTimeout(function () {
                                    $("#right").fadeIn(500);
                                }, 500);
                                setTimeout(function () {
                                    $("#right1").fadeIn(500);
                                }, 500);
                                {#                                $('#userTable').bootstrapTable("refresh", {query: {id: row.id}});#}
                                console.log("select row.id:", row.id);
                                {#                                $('#userFormalTable').bootstrapTable("refresh", {query: {id: row.id}});#}

                            },
                            'click .setDictValue': function (e, value, row, index) {

                                $("#left").attr("class", "col-sm-6");
                                setTimeout(function () {
                                    $("#right").fadeIn(500);
                                }, 500);
                                $("#dictTypeLabel").html(row.type);
                                $("#dictTypeId").val(row.id);
                                $('#dictValueTable').bootstrapTable("refresh", {query: {dictTypeId: row.id}})
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            role_name = "{{ request.session.DjangoAdmin_SESSION_CURRENT_ROLE }}";
                            console.log("role:", role_name);
                            if (role_name == "administrator") {
                                return [
                                    '<a href="#" class="edit" title="Edit"><i class="fa fa-edit"></i> </a>',
                                    '<a href="#" class="del" title="Delete"><i class="fa fa-trash"></i> </a>',
                                    '<a href="#" class="stu_detail" title="学生提交详情"><i class="fa fa-file-text-o"></i> </a>'
                                ].join('');
                            }
                            if (role_name == "student") {
                                return [
                                    '<a href="#" class="task" title="练习" ><i class="fa fa-tasks"></i> </a>',
                                    '<a href="#" class="stu_detail" title="查看提交记录"><i class="fa fa-file-text-o"></i> </a>'
                                ].join('');
                            }

                        }
                    }]
            });


            if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {//如果是移动端
                $('#table').bootstrapTable("toggleView");
            }


            $("#search").click("click", function () {// 绑定查询按扭
                $('#table').bootstrapTable('refresh');
            });

            $("#reset").click("click", function () {// 绑定查询按扭
                $("#loginname").val("");
                $("#realname").val("");
                $("#isadmin").val("");
                $('#table').bootstrapTable('refresh');
            });


        });

        function refresh() {
            $('#table').bootstrapTable('refresh');
        }

        function del(ids) {
            if (!ids) {
                ids = getIdSelections();
            }
            jp.loading();
            jp.confirm('Are you sure delete?', function () {
                $.get("/srv/essay/task/del/?id=" + ids, function (data) {
                    if (data.success) {
                        $('#table').bootstrapTable('refresh');
                        jp.success(data.msg);
                    } else {
                        jp.error(data.msg);
                    }
                })
            })
        }
        function edit(id) {
            if (!id) {
                id = getIdSelections();
            }
            jp.openSaveDialog('Edit', "/srv/essay/task/edit/?id=" + id, '800px', '680px');

        }
        function deleteAll(ids) {
            if (!ids) {
                ids = getIdSelections();
            }
            jp.confirm('确认要删除选中用户吗？', function () {
                jp.loading();
                $.get("/srv/essay/task/del/?id=" + ids, function (data) {
                    if (data.success) {
                        $('#table').bootstrapTable('refresh');
                        jp.success(data.msg);
                    } else {
                        jp.error(data.msg);
                    }
                })
            })
        }

    </script>
    <script>
        function getCookie(name) {
            var value = '; ' + document.cookie;
            var parts = value.split('; ' + name + '=');
            if (parts.length === 2) return parts.pop().split(';').shift()
        }
        $(document).ready(function () {
            $('#userTable').bootstrapTable({
                //请求方法
                method: 'post',
                //类型json
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                //是否显示行间隔色
                striped: true,
                //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                cache: false,
                //是否显示分页（*）
                pagination: true,

                pageList: [100],
                //这个接口需要处理bootstrap table传递的固定参数,并返回特定格式的json数据
                url: "/srv/stu/task/free/list/",
                //默认值为 'limit',传给服务端的参数为：limit, offset, search, sort, order Else
                //queryParamsType:'',
                ////查询参数,每次调用是会带上这个参数，可自定义
                queryParams: function (params) {
                    var searchParam = $("#searchForm").serializeJSON();
                    //alert(searchParam.pageNo)
                    searchParam.pageNo = params.limit === undefined ? "1" : params.offset / params.limit + 1;
                    searchParam.pageSize = params.limit === undefined ? -1 : params.limit;
                    searchParam.orderBy = params.sort === undefined ? "" : params.sort + " " + params.order;
                    console.log("params:", params);
                    searchParam.id = $("#password").val();
                    return searchParam;
                },
                //分页方式：client客户端分页，server服务端分页（*）
                sidePagination: "server",
                columns: [{
                    field: 'create_time',
                    title: '提交时间',
                    formatter: function (value, row, index) {
                        return '<a  href="#" onclick="jp.openViewDialog(\'查看用户\', \'/ani/a/sys/user/form?id=' + row.id + '\',\'800px\', \'680px\')">' + value + '</a>'
                    }
                }, {
                    field: 'content',
                    title: '正文'
                },
                    {
                        field: 'machine_score',
                        title: '机器评分'
                    },
                    {
                        field: 'operate',
                        title: '查看详情',
                        align: 'center',
                        events: {
                            'click .del': function (e, value, row, index) {

                                jp.confirm('Are you sure you want to remove the user from the role?', function () {
                                    jp.loading();
                                    $.get('/system/role/user/out/?userId=' + row.id + '&roleId=' + $("#roleId").val(), function (data) {
                                        if (data.success) {
                                            $('#userTable').bootstrapTable("refresh", {query: {id: $("#roleId").val()}});
                                            jp.success(data.msg);
                                        } else {
                                            jp.error(data.msg);
                                        }
                                    })
                                });
                            },
                            'click view': function () {
                                jp.openViewDialog('查看', '/srv/stu/task/view/?id=' + row.id, '1200px', '800px');
                            }

                        },
                        formatter: function operateFormatter(value, row, index) {
                            return [

                                '<a href="#" class="view" title="查看详情" >[查看详情] </a>'

                            ].join('');
                        }
                    }]

            });

            if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {//如果是移动端
                $('#userTable').bootstrapTable("toggleView");
            }

            $("#assignButton").click(function () {
                jp.openUserSelectDialog(true, function (ids) {

                    jp.loading();
                    var token = $('input[name=csrfmiddlewaretoken]').val();

                    $.post("/system/user/select/", {
                        id: $("#roleId").val(),
                        ids: ids,
                        csrfmiddlewaretoken: token
                    }, function (data) {
                        //alert(data.success);
                        if (data.success) {
                            $('#userTable').bootstrapTable("refresh", {query: {id: $("#roleId").val()}});
                            jp.success(data.msg);
                        } else {
                            jp.error(data.msg);
                        }
                    })
                })
            });

            $('#userFormalTable').bootstrapTable({
                //请求方法
                method: 'post',
                //类型json
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                //是否显示行间隔色
                striped: true,
                //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                cache: false,
                //是否显示分页（*）
                pagination: true,

                pageList: [100],
                //这个接口需要处理bootstrap table传递的固定参数,并返回特定格式的json数据
                url: "/srv/stu/task/formal/list/",
                //默认值为 'limit',传给服务端的参数为：limit, offset, search, sort, order Else
                //queryParamsType:'',
                ////查询参数,每次调用是会带上这个参数，可自定义
                queryParams: function (params) {
                    var searchParam = $("#searchForm").serializeJSON();
                    //alert(searchParam.pageNo)
                    searchParam.pageNo = params.limit === undefined ? "1" : params.offset / params.limit + 1;
                    searchParam.pageSize = params.limit === undefined ? -1 : params.limit;
                    searchParam.orderBy = params.sort === undefined ? "" : params.sort + " " + params.order;
                    return searchParam;
                },
                //分页方式：client客户端分页，server服务端分页（*）
                sidePagination: "server",
                columns: [{
                    field: 'create_time',
                    title: '提交时间',
                    formatter: function (value, row, index) {
                        return '<a  href="#" onclick="jp.openViewDialog(\'查看用户\', \'/ani/a/sys/user/form?id=' + row.id + '\',\'800px\', \'680px\')">' + value + '</a>'
                    }
                }, {
                    field: 'content',
                    title: '正文'
                },
                    {
                        field: 'machine_score',
                        title: '机器评分'
                    }, {
                        field: 'tea_score',
                        title: '老师评分'
                    },
                    {
                        field: 'total_score',
                        title: '总分'
                    }, {
                        field: 'operate',
                        title: '查看详情',
                        align: 'center',
                        events: {
                            'click .del': function (e, value, row, index) {

                                jp.confirm('Are you sure you want to remove the user from the role?', function () {
                                    jp.loading();
                                    $.get('/system/role/user/out/?userId=' + row.id + '&roleId=' + $("#roleId").val(), function (data) {
                                        if (data.success) {
                                            $('#userTable').bootstrapTable("refresh", {query: {id: $("#roleId").val()}});
                                            jp.success(data.msg);
                                        } else {
                                            jp.error(data.msg);
                                        }
                                    })
                                });
                            },
                            'click view': function () {
                                jp.openViewDialog('查看', '/srv/stu/task/view/?id=' + row.id, '1200px', '800px');
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            return [

                                '<a href="#" class="view" title="查看详情" >[查看详情] </a>'

                            ].join('');
                        }
                    }]

            });

            if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {//如果是移动端
                $('#userFormalTable').bootstrapTable("toggleView");
            }

        });


    </script>

</head>
<body id="" class="" style="">
<form id="inputForm">{% csrf_token %}</form>
<div class="wrapper wrapper-content">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">查看范文</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div id="left" class="col-sm-9 col-md-10 animated fadeInRight">
                    <!-- 搜索框-->
                    <div id="search-collapse" class="collapse">
                        <div class="accordion-inner">
                            <form id="searchForm" class="form form-horizontal well clearfix"
                                  action="/srv/essay/task/list"
                                  method="post">
                                {% csrf_token %}
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <label class="label-item single-overflow pull-left" title="User：">文章标题：</label>
                                    <input id="title" name="title" class=" form-control input-sm" type="text"
                                           value=""
                                           maxlength="50"/>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div style="margin-top:26px">
                                        <a id="search" class="btn btn-primary btn-rounded  btn-bordered btn-sm"><i
                                                class="fa fa-search"></i> Query</a>
                                        <a id="reset" class="btn btn-primary btn-rounded  btn-bordered btn-sm"><i
                                                class="fa fa-refresh"></i> Reset</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- 搜索框结束 -->

                    <!-- 表格 -->
                    <table id="table"
                           data-toolbar="#toolbar">
                    </table>
                </div>
                <div id="right" class="panel panel-default col-sm-6" style="display:none">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>自由训练提交详情 </label><font id="roleLabel"></font><input
                                type="hidden" id="roleId"/></h3>
                    </div>
                    <div class="panel-body">
                        <div id="userToolbar">
                            <button id="assignButton" class="btn btn-outline btn-primary" title="Add User"><i
                                    class="fa fa-file-text"></i> 查看详情
                            </button>
                        </div>
                        <!-- 表格 -->
                        <table id="userTable"
                               data-toolbar="#userToolbar"
                               data-id-field="id">
                        </table>
                    </div>
                </div>

                <div id="right1" class="panel panel-default col-sm-6" style="display:none">
                    <div class="panel-heading">
                        <h3 class="panel-title"><label>正式提交详情 </label><font id="roleLabel"></font><input
                                type="hidden" id="roleId"/></h3>
                    </div>
                    <div class="panel-body">
                        <div id="userFormalbar">
                        </div>
                        <!-- 表格 -->
                        <table id="userFormalTable"
                               data-toolbar="#userFormalbar"
                               data-id-field="id">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>