.header{
    background: #393D49;
    color: white;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    
}
.back{
    position: absolute;
    left: 10px;
    top: 15px;
}

.feedback-btn>a{
    margin: 5px 0;
}
.layui-table-cell {
    height: auto;
    white-space: normal;
}
